*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

*.war
*.ear
*.jar
#Gradle temporary files
target/

#Eclipse files
**/.project
**/.classpath
**/.settings/
blog/bin/
**/.tern-project

#IntelliJ files
**/*.iml
**/*.ipr
**/*.iws
**/.idea
**/.gradle

build/
out/
