
.lead {
    color: #444;
}

div.jumbotron {
    padding-bottom: 0.1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.referral-table tbody > tr {
  cursor: pointer;
}

.jumbotron {
    background-image: url("image/flower.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

textarea#appointment-message-text {
  height: 150px;
}

.team-members {
    font-size: 2rem;
    text-align: center;
}