
.lead {
    color: #444;
}

.card-header {
    font-weight: 800;
}

div.jumbotron {
    padding-bottom: 0.1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.referral-table tbody > tr {
  cursor: pointer;
}

.jumbotron {
    background-image: url("image/flower.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#imageLogo {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
#imageLogo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

textarea#appointment-message-text {
    height: 150px;
}

.team-members {
    font-size: 2rem;
    text-align: center;
}

.fade-enter-active {
  transition: opacity .5s;
}
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, {
  opacity: 0;
}
.fade-leave-to {
  opacity: 0;
}
